:root {
  /* Couleurs du thème clair par défaut */
  --Text__semantic__success: rgba(92, 181, 77, 0.8);
  --Text__neutral__high: #1b1b1b;
  --Text__semantic__warning: #eb5653;
  --Text__neutral__base: #363636;
  --Text__neutral__low: rgba(87, 87, 87, 0.7);
  --Stroke__semantic__warning: #eb5653;
  --Stroke__semantic__success: rgba(92, 181, 77, 0.8);
  --Surface__primary__base: #5cb54d;
  --Surface__neutral__base: #ffffff;
  --Surface__neutral__high: #f7f8fa;
  --Surface__neutral__low: #edeef0;
  --Surface__semantic__warning: #eb5653;
  --Surface__semantic__success: rgba(92, 181, 77, 0.8);
  --Stroke__neutral__high: #1b1b1b;
  --Stroke__neutral__base: #363636;
  --Stroke__neutral__low: rgba(87, 87, 87, 0.7);
  --Icons__base: #5a656f;
  --Stroke__neutral__light: #d3d9e1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --Text__semantic__success: rgba(92, 181, 77, 0.8);
    --Text__neutral__high: #f3f6f9;
    --Text__semantic__warning: #eb5653;
    --Text__neutral__base: #cfd5df;
    --Text__neutral__low: rgba(205, 217, 231, 0.7);
    --Stroke__semantic__warning: #eb5653;
    --Stroke__semantic__success: rgba(5, 123, 0, 0.8);
    --Surface__primary__base: #057b00;
    --Surface__neutral__base: #212830;
    --Surface__neutral__high: #141b23;
    --Surface__neutral__low: #282f37;
    --Surface__semantic__warning: #eb5653;
    --Surface__semantic__success: rgba(92, 181, 77, 0.8);
    --Stroke__neutral__high: #f3f6f9;
    --Stroke__neutral__base: #cfd5df;
    --Stroke__neutral__low: rgba(205, 217, 231, 0.7);
    --Icons__base: #8f959f;
    --Stroke__neutral__light: #3d434d;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

body {
  color: var(--Text__neutral__base);
  background: var(--Surface__neutral__base);
  font-family: Arial, Helvetica, sans-serif;
}

/* Recipe Card */

.recipe-card {
  background-color: var(--Surface__neutral__high);
  border-radius: 10px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
  position: relative;
  color: var(--Text__neutral__base);

  .card-image {

    img {
      width: 100%;
      height: 180px;
      object-fit: cover;
      border-top-left-radius: 10px;
      border-top-right-radius: 10px;
    }

    .vegan-healthy {
      display: flex;
      gap: 0.5rem;
      position: absolute;
      top: 10px;
      right: 10px;
      background-color: rgba(255, 255, 255, 0.70);
      padding: 8px 12px;
      border-radius: 25px;
      color: #33a947;

      svg {
        width: 20px;
        height: 20px;
      }
    }
  }

  .card-info {
    padding: 15px;
    display: flex;
    flex-direction: column;
    gap: 10px;

    h1 {
      font-size: 1.5rem;
      font-weight: 600;
    }

    span {
      font-size: 1.2rem;
      padding: 5px 10px;
      border-radius: 5px;
      font-size: 1rem;
      width: fit-content;
    }

    span.Starter {
      background-color: rgb(56, 110, 56);
    }

    span.Main {
      background-color: rgb(56, 56, 110);
    }

    span.Dessert {
      background-color: rgb(110, 56, 56);
    }

    p {
      font-size: 1rem;
      display: flex;
      align-items: center;
      gap: 5px;
    }

    a {
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 6px 12px;
      border: 1px solid var(--Stroke__neutral__high);
      border-radius: 5px;
      width: fit-content;
      font-size: 1rem;
      color: var(--Text__neutral__base);
    }
  }
}


/* Recipe Detail */

.recipe-detail {
  width: 1200px;
  margin: 50px auto;

  .hero {
    display: flex;
    background-color: var(--Surface__neutral__high);
    border-radius: 10px;
    height: 300px;

    .left {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      width: 50%;

      >div {
        display: flex;
        gap: 10px;
        align-items: center;
        margin-block: 10px;

        span {
          font-size: 1.2rem;
          padding: 5px 10px;
          border-radius: 5px;
          font-size: 1rem;
          width: fit-content;
        }

        span.Starter {
          background-color: rgb(56, 110, 56);
        }

        span.Main {
          background-color: rgb(56, 56, 110);
        }

        span.Dessert {
          background-color: rgb(110, 56, 56);
        }
      }

      .btns {

        button {
          display: flex;
          align-items: center;
          gap: 5px;
          padding: 7px 20px;
          border: none;
          border-radius: 30px;
          background-color: var(--Surface__primary__base);
          background: rgb(241, 82, 54);
          background: linear-gradient(90deg, rgb(247, 104, 79) 0%, rgb(251, 148, 92) 100%);
          color: var(--Text__neutral__base);
          cursor: pointer;
          transition: transform 0.1s ease-in-out;
        }

        button:hover {
          transform: scale(1.03);
        }
      }
    }

    .right {
      width: 50%;

      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }
    }
  }

  section.content {

    div.instruction-ingredient {
      display: flex;
      gap: 20px;
      margin-block: 20px;

      article {
        width: 50%;

        h2 {
          display: flex;
          align-items: center;
          gap: 10px;
          color: rgb(247, 104, 79);
        }

        p {
          margin-block: 10px;
          text-align: justify;
        }
      }

      aside {
        width: 50%;

        h2 {
          display: flex;
          align-items: center;
          gap: 10px;
          color: rgb(247, 104, 79);
        }

        .tab {
          border: 1px solid var(--Stroke__neutral__light);
          border-radius: 10px;
          margin-block: 10px;

          .tab-list {
            display: flex;
            background-color: var(--Surface__neutral__low);
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            padding: 10px;

            .tab {
              display: flex;
              align-items: center;
              gap: 5px;
              padding: 10px 20px;
              border: none;
              border-radius: 10px;
              background: none;
              color: var(--Text__neutral__base);
              cursor: pointer;
              transition: transform 0.1s ease-in-out;
              outline: none;

              &[data-selected] {
                background: linear-gradient(90deg, rgb(247, 104, 79) 0%, rgb(251, 148, 92) 100%);
              }
            }
          }

          .ingredients,
          .tools {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
            padding: 20px;

            li {
              display: flex;
              flex-direction: column;
              align-items: center;

              img {
                width: 100px;
                height: 100px;
                object-fit: cover;
                border-radius: 10px;
              }

              p {
                font-weight: bold;
                margin-block: 10px;
                max-width: 80px;
                text-align: center;
              }

              span {
                font-style: italic;
                font-size: 0.85rem;
              }
            }
          }
        }
      }
    }

    div.steps {}
  }
}